



.container{
  width: 100%;
  height: 300px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */

  text-align:center; /*aligns all of individual containers center*/
}








/* set up of the rest of components */

.subsection{
  background-color: yellow;
}

.grid{
  background-color: green;
}
.location{
  background-color: orange;
}

.testimonials{
  background-color: fuchsia
}

.pricing{
  background-color: mintcream;
}

.footer{
  background-color: midnightblue;
}





/* media queries */

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: red; /* Red */
  }

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }

  .header{
    height:525px;
  }


}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
  .header{
    height:570px;
  }



}